<%= form_for :article do |f| %>

<% if @article.errors.any? %>
  <p>Errors found, details below</p>
  <ul>
    <% @article.errors.full_messages do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <%end %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.label :text %>
  <%= f.text_area :text %>
  
  <%= f.submit %>
  

<% end %>