<h1>Hello, Rails!</h1>
<p> <%= link_to 'My Blog', articles_path %> |
<%= link_to 'New Blog', new_article_path %></p>
<table> 
<th>Title</th>
<th>Text</th>
<th colspan="2"></th>
<% @articles.each do |article| %>
  <tr>
    <td>  <%= article.title %> </td>
    <td><%= article.text %> </td>
    <td> <%= link_to "Show", article_path(article) %> </td>
    <td> <%= link_to "Edit", edit_article_path(article) %> </td>
    <td><%= link_to "Delete" , article_path(article) , method: :delete, data: {confirm: "are you sure"} %></td>
  </tr>
<% end%>

</table>